/* MAIN STYLES */
* {
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    padding: 0;
}

body {
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    background-color: rgb(214, 214, 214);
    overflow: hidden;
}

.container {
    padding: 0 10px;
}

.body-wrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    width: 95%;
}

.hidden {
    display: none;
}

/* NAVBAR */
.navbar {
    padding: 5px;
    width: 80px;
    height: 100vh;
    background-color: rgb(41, 41, 41);
}

.navbar-links {
    height: 50%;
    padding: 0;
}

.navbar-link {
    margin: 0 auto 20px;
    list-style: none;
}

.navbar-image {
    display: block;
    margin: auto;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.navbar-link:last-child {
    margin: 0 auto 0;
}

.navbar-footer {
    display: flex;
    height: 92%;
    flex-direction: column;
    justify-content: flex-end;
}

/* HEADER */
.header {
    width: 100%;
    height: 40px;
    background-color: rgb(214, 214, 214);
}

.header-info {
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}

.header-mode {
    width: 150px;
    height: 25px;
    font-size: 12px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: rgb(34, 168, 0);
    color: #ffffff;
    cursor: pointer;
    outline: none;
}

.header-name {
    position: relative;
    width: 300px;
}

.header-name::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 15px;
    width: 15px;
    height: 15px;
    background-image: url(../img/header/user.png);
    background-size: cover;
}

.header-place {
    position: relative;
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-place::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 15px;
    width: 15px;
    height: 15px;
    background-image: url(../img/header/briefcase.png);
    background-size: cover;
}

.header-name, .header-place {
    display: block;
    padding: 5px 40px 5px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    background-color: rgb(41, 41, 41);
    color: #ffffff;
}

.header-settings, .header-menu {
    display: inline-block;
    position: relative;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color: rgb(34, 168, 0);
    cursor: pointer;
}

.header-settings::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background-image: url(../img/header/settings.png);
    background-size: cover;
}

.header-menu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background-image: url(../img/header/menu.png);
    background-size: cover;
}

/* MAIN */
.main {
    background-color: rgb(214, 214, 214);
}

.main-wrapper {
    display: flex;
    justify-content: space-between;
}

.company-info {
    width: 100%;
    height: 80vh;
    padding-right: 5px;
    overflow-y: scroll;
}

.company-selector {
    min-width: 380px;
    padding-left: 5px;
}

.main-title {
    padding-bottom: 10px;
    font-size: 26px;
    color: rgb(82, 82, 82);
}

.table-block {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border: 1px solid #acacac;
    border-radius: 5px;
}

.info-table {
    width: 100%;
    border: 1px solid #acacac;
    border-radius: 5px;
    border-spacing: 0;
}

.table-placeholder {
    display: inline-block;
    position: relative;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    cursor: help;
}

.table-placeholder:hover::after {
    content: attr(data-placeholder);
    position: absolute;
    bottom: 10px;
    padding: 20px 0;
    width: 300px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: rgb(41, 41, 41);
    color: #ffffff;
    z-index: 99;
}

.white {
    background-color: #acacac;
    color: #ffffff;
}

.grey {
    background-color: #ffffff;
    color: #acacac;
}

.info-table tbody {
    display: flex;
}

.info-table tbody tr {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.info-table tbody tr:nth-child(1) {
    width: 50%;
}

.info-table tbody tr:nth-child(2) {
    width: 100%;
}

.info-table tbody th {
    text-align: left;
    color: rgb(82, 82, 82);
}

.info-table tbody td {
    color: rgb(82, 82, 82);
}

.info-table tbody th, .info-table tbody td {
    height: 30px;
    padding: 5px;
}

.info-table tbody th:not(:nth-last-child(1)), .info-table tbody td:not(:nth-last-child(1)) {
    height: 30px;
    padding: 5px;
    border-bottom: 1px solid #acacac;
}

.table-title {
    padding: 0px 20px 10px;
    font-size: 14px;
    color: rgb(82, 82, 82);
}

.special-table {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #acacac;
    border-bottom: none;
    border-spacing: 0;
    text-align: left;
}

.special-table thead {
    background-color: #acacac;
    color: #ffffff;
}

.special-table tbody {
    color: rgb(82, 82, 82);
}

.special-table thead th, .special-table tbody th {
    height: 30px;
    padding: 5px 20px;
    border-bottom: 1px solid #acacac;
}

.special-table thead th:first-child {
    width: 5%;
}

.table-inner__title {
    width: 100%;
    height: 30px;
    padding: 5px 20px;
    border-right: 1px solid #acacac;
    border-left: 1px solid #acacac;
    font-size: 14px;
    color: rgb(82, 82, 82);
    background-color: rgb(224, 224, 224);
}

.inner-table {
    width: 100%;
    text-align: left;
    border: 1px solid #acacac;
    border-spacing: 0;
    color: rgb(82, 82, 82);
}

.table-button {
    width: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.inner-table tr td {
    padding-left: 20px;
    height: 30px;
}

.selector-buttons {
    padding: 20px;
    max-width: 380px;
    height: 100%;
    border: 1px solid #acacac;
    border-radius: 5px;
    background-color: #ffffff;
}

.selector-button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
    text-align: left;
    font-weight: bold;
    border: 1px solid #acacac;
    border-radius: 5px;
    background-color: #ffffff;
    color: rgb(82, 82, 82);
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

.selector-button:hover {
    background-color: rgb(34, 168, 0);
    color: #ffffff;
    transition: 0.3s;
}

.main-footer {
    padding: 10px;
}

.main-footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.main-button {
    padding: 10px 15px;
    margin-left: 5px;
    text-align: center;
    font-weight: bold;
    border: 1px solid rgb(34, 168, 0);
    border-radius: 5px;
    background-color: #ffffff;
    color: rgb(82, 82, 82);
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

.main-button:hover {
    background-color: rgb(34, 168, 0);
    color: #ffffff;
    transition: 0.3s;
}

.history-button {
    margin: 10px 15px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    color: rgb(82, 82, 82);
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

@media (max-width: 1920px) {
    .header-mode {
        width: 10%;
    }
    .header-name {
        width: 25%;
    }
    .navbar-links {
        height: 59%;
    }
    .navbar-footer {
        height: 100%;
    }
}

@media (max-height: 768px) {
    .navbar-links {
        height: 50%;
    }
    .navbar-footer {
        height: 100%;
    }
}

@media (max-height: 700px) {
    .navbar-links {
        height: 48%;
    }
}
