/* Основные стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    padding: 5px;
    background-color: #000;
}

/* Подключаем шрифты */
@font-face {
	font-family: 'Digitany';
	font-display: swap;
	src: url("../fonts/Digitany.otf") format('opentype'), url("../fonts/Digitany.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PingFang';
	font-display: swap;
	src: url("../fonts/PingFang.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TTSquaresCondensed';
	font-display: swap;
	src: url("../fonts/TTSquaresCondensed.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
/* Hero */
.hero {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 895px;
    background-color: #D2FD7E;
    border-radius: 24px;
}

.hero-title {
    position: absolute;
    /* width: 100%; */
    font-family: 'PingFang';
    font-size: 255px;
    line-height: 250px;
    text-transform: uppercase;
    text-align: center;
}

.hero-title__piece {
    font-family: 'Digitany', sans-serif;
}

.hero-main {
    position: relative;
    top: 35px;
    left: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.masks-block { margin-left: 15px; }

.masks-block__item:not(:nth-child(4)) {
    height: 100%;
    margin-bottom: 15px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px !important; 
    border: 1px solid #000;
    border-radius: 100%;
}

.image {
    display: block;
    margin: 0 auto;
}

.image-block {
    margin-left: 183px;
    margin-right: 80px;
}

.image-block__mask {
    border-radius: 24px;
}

.auction-block {
    width: 323px;
    margin-right: 239px;
}

.author-tag {
    margin-bottom: 12px;
    font-family: 'TTSquaresCondensed';
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.4);
}

.mask-title {
    font-family: 'Digitany';
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 22px;
}

.button {
    position: relative;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
}

.likes-button {
    width: 55px;
    font-size: 12px;
    border: none;
    background-color: rgba(80, 83, 76, 0.2);
}

.likes-button::before {
    content: '❤';
    top: 0;
    left: 0;
    padding-right: 6px;
    width: 14px;
    height: 14px;
    opacity: 0.4;
}

.info-button {
    width: 90px;
    font-size: 10px;
    background-color: transparent;
    border: 1px solid rgba(80, 83, 76, 0.2);
}

.info-button::after {
    content: '❯';
    top: 0;
    right: 0;
    padding-left: 10px;
    font-size: 12px;
    vertical-align: middle;
}

.action-block { margin-top: 30px; }

.action-button {
    width: 100%;
    height: 44px;
    margin-bottom: 17px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 22px;
    font-family: 'Digitany';
}

.bid-block { position: relative; }

.bid-block::after {
    content: '';
    position: absolute;
    top: 0;
    right: -60%;
    width: 1px;
    height: 95%;
    background-color: rgba(0, 0, 0, 0.4);
}

.bid-min, .ending-text {
    font-family: 'TTSquaresCondensed';
    font-size: 12px;
    color:rgba(0, 0, 0, 0.4);
}

.bid-price, .ending-hour, .ending-minute, .ending-second {
    font-family: 'TTSquaresCondensed';
    font-size: 16px;
    margin-bottom: 6px;
}


.wrapper {
    display: flex;
    justify-content: space-between;
}

.ending-block {
    margin-right: 12px;
}

.ending-text { margin-bottom: 5px; }

.ending-timer {
    display: flex;
}

.ending-hour::after, .ending-minute::after {
    content: ':';
    top: 0;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.bid-convert, .ending-subtext {
    font-family: 'TTSquaresCondensed';
    font-size: 10px;
    color:rgba(0, 0, 0, 0.4);
}

.hero-footer {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mode-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 164px;
    height: 40px;
    margin-right: 988px;
    background-color: #000;
    border-radius: 20px;
}

.button-masks, .button-video {
    width: 80px;
    height: 100%;
    border: none;
    border-radius: 20px;
}

.button-masks {
    height: 36px;
    background-color: #D2FD7E;
}

.button-video {
    background-color: transparent;
    color: #fff;
}

.button-wallet {
    width: 141px;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #000;
}

.button-add {
    width: 107px;
    height: 40px;
    border-radius: 20px;
    background-color: #000;
    color: #fff;
    border: none;
}

.hero-mobile__head {
    display: none;
}

/* Response */
@media (max-width: 1440px) {
    .hero {
        height: 680px;
    }
    .hero-title {
        font-size: 230px;
        line-height: 225px;
    }
    .hero-main {
        top: 63px;
        left: -21px;
        height: 600px;
    }
    .image-block__mask {
        width: 350px;
    }
    .mode-block {
        margin-right: 900px;
    }
}

@media (max-width: 1025px) {
    .hero-title {
        font-size: 180px;
        line-height: 165px;
    }
    .hero-main {
        top: 30px;
        left: 0;
    }
    .image-block {
        margin-left: 115px;
    }
    .auction-block {
        margin-right: 55px;
    }
    .mode-block {
        margin-right: 588px;
    }
}

@media (max-width: 769px) {
    .hero {
        height: 994px;
    }
    .hero-title {
        display: none;
    }
    .hero-mobile__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .hero-mobile__title {
        font-family: 'Digitany';
        font-size: 15px;
        text-transform: uppercase;
    }
    .mobile-add {
        width: 40px;
        height: 40px;
        font-size: 20px;
        border-radius: 50%;
        border: none;
        background-color: #000;
        color: #fff;
    }
    .hero-main {
        top: 0;
        left: 0;
        flex-direction: column;
        margin-bottom: 0;
    }
    .masks-block {
        display: flex;
        align-items: center;
        margin-left: 0;
        margin-bottom: 12px;
        order: 2;
    }
    .masks-block__item:not(:nth-child(4)) {
        height: unset;
        margin-right: 12px;
        margin-bottom: 0;
    }
    .image-block {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 15px;
        order: 1;
    }
    .image-block__mask {
        width: 325px;
    }
    .auction-block {
        margin-right: 0;
        order: 3;
    }
    .mode-block {
        margin-right: 0;
    }
    .hero-footer {
        display: none;
    }
}
